<html>
    <head>
        <title>jiwon's blog</title>
    </head>
    <body>
    <div>
        <h1><a href="">Anjiwon blog</a></h1>
    </div>

    <div>
    {% for post in posts %}

        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>

    {% endfor %}
         </div>

    <div>
        <p>published: 21.07.2018, 13:55</p>
        <h2><a href="">게임메이커</a></h2>
        <p>미림여자정보과학고등학교 전공동아리 게임메이커</p>
    </div>


    </body>
</html>